.link-panel {
    background-color: lightgray;
    border-radius: 10px;
}

.poll-button-panel {
    height: 4rem;
}

.poll-button {
    background-color: rgb(68, 68, 68);
    font-weight: bold;
    font-size: large;
    border-radius: 7px;
}

.poll-container {
    background-color: gray;
    border-radius: 10px;
}

.hardware-button-text {
    color: white;
}

.hardware-result-slider {
    opacity: 0.7;
    border-radius: 7px;
    animation-fill-mode: forwards;
}