.bright25 {
  filter: brightness(25%);
}

.fullwidth {
  width: 100%;
}

.centered-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-page-selector {
   width: 20rem;
}

.vcenter-children {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepage-display {
  max-height: 25rem;
  overflow-y: hidden;
}

#homepage-display-text {
  color: white;
  font-size: calc(8vw);
}