.bright25 {
  filter: brightness(25%);
}

.centered-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vcenter-children {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*equivalent to the lg breakpoint. makes sure text doesn't get squished horizontally on mobile*/
@media (min-width: 992px) {
  .w-lg-90 {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .w-lg-80 {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .w-lg-70 {
    max-width: 70%;
  }
}

@media (min-width: 992px) {
  .w-lg-50 {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .w-lg-45 {
    max-width: 45%;
  }
}