.bright25 {
  filter: brightness(25%);
}

.fullwidth {
  width: 100%;
}

.text-image-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homepage-display {
  position: relative;
  display: flex;
  align-items: center;

  max-height: 25rem;
  overflow-y: hidden;
}

#homepage-display-text {
  color: white;
  font-size: calc(8vw);
}