.bright25 {
  filter: brightness(25%);
}

.fullwidth {
  width: 100%;
}

.centered-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vcenter-children {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
