.homepage-page-selector {
   width: 20rem;
   border-radius: 5px;
}

.homepage-page-selector-text {
  font-size: calc(max(2vw, 4vh));
}

#homepage-display {
  max-height: 25rem;
}

#homepage-display-text {
  color: white;
  font-size: calc(8vw);
}